$accent-color: hsl(22, 65%, 57%);

$main-black: hsl(0, 0%, 6%);
$main-white: hsl(0, 0%, 95%);
$main-white-l: hsl(0, 0%, 98%);

$accent-color-a: hsl(21, 94%, 75%);

$main-white-a: hsl(0, 0%, 100%);
$main-black-a: hsl(0, 0%, 0%);
