@import '../style/variables';

// !not my original code
// !credit to google and copy and paste

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 377px;
    height: 488px;
    top: 129px;
    left: 898px;
    padding: 33px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // transform: translate(-50%, -50%);

    .cart-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 18px;
        }

        small {
            font-weight: 200;
            font-size: 15px;
            text-decoration: underline;
        }
    }

    .total {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        p {
            margin: 0;
        }

        p:nth-child(1) {
            // border: 1px solid red;
            font-size: 15px;
            font-weight: 500;
        }

        p:nth-child(2) {
            // border: 1px solid red;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .check {
        width: 100%;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}


// ==========================================

.cart-detail {
    // border: 2px solid rgb(128, 33, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 1.5rem 0;

    // .counter {
    //     width: 96px !important;
    //     background-color: #F1F1F1;
    //     height: fit-content;

    //     span {
    //         width: 96px !important;
    //         height: 40px !important;
    //         padding: .7rem;
    //     }
    // }

    .counter-form {
        // border: 1px solid red;
        display: flex;
        align-items: center;


        .counter {
            // border: 1px solid blue;
            display: flex;
            align-items: center;
            width: 96px;
            height: 32px;
            background: $main-white-l;
            // padding: 1rem 0;

            .num-value {
                font-weight: 700;
            }

            span {
                width: 40px;
                padding: 0;
                padding-left: .7rem !important;
            }
        }
    }

    .img-price {
        // border: 1px solid blue;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 64px;
            height: 64px;
            border-radius: 10px;
            margin-right: 1rem;
        }

        div {
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between !important;

            .product-name {
                font-size: 15px;
                font-weight: bold;
                margin: 5px 0 0;
            }

            .price {
                font-size: 14px;
                font-weight: bold;
                color: grey;
            }
        }
    }

}