@import '../style/variables';
@import '../style/mixins';

//=====details itembox code============


.back {
    margin-top: 5rem;
    // margin-bottom: -15rem;

    display: inline-block;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 15px;
}

.detail-box {

    .item-description {
        text-align: left;

        p {
            padding: 0;
            font-weight: 200;
        }
    }

}

span {
    // border: 1px solid red;
    cursor: pointer;
    padding: 0 1rem;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 42px;
}

.counter-form {
    // border: 1px solid red;
    display: flex;
    align-items: center;

    .counter {
        // border: 1px solid blue;
        display: flex;
        align-items: center;
        width: 120px;
        height: 48px;
        background: $main-white-l;
        // padding: 1rem 0;

        .minus-btn,
        .plus-btn {
            &:hover {
                color: $accent-color;
            }
        }

        .num-value {
            font-weight: 700;
        }

        span {
            width: 40px;
        }
    }
}

.counter-btn {
    margin-left: 1rem;
}



.features-and-box {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10rem;

    .features {
        width: fit-content;

        h2 {
            margin-top: 88px;
        }


        p {
            font-weight: 200;
            font-size: 15px;
            line-height: 25px;
            margin: 24px 0 138px;
        }
    }

    .in-box {
        width: 100%;

        .list-bullet {
            color: $accent-color;
            font-weight: 700;
            margin-left: -1rem;
        }

        .p-group {
            // border: 1px solid red;
            margin: 32px 0 121px;

            p {
                text-transform: capitalize;
            }
        }
    }

    h2 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;

    }

}

.img-grid {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;

    .item {
        width: fit-content;
        // border: 1px solid red;
        overflow: hidden;
        border-radius: 8px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .item-1,
    .item-3 {
        width: 100%;
        height: 10rem;
    }

    // there must be a better way to structure this code without duplicating item-2
    // html line-85.
    .item-2-desktop {
        display: none;
    }

    .item-2-mobile {
        width: 100%;
        height: 23rem;
    }
}


.suggestion-section {
    margin-top: 120px !important;


    h2 {
        text-align: center;
        margin-bottom: 64px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .suggestion-item-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        article {

            // border: 1px solid red;
            text-align: center;
            margin-bottom: 56px;

            h4 {
                font-size: 24px;
            }

            div {
                width: 100%;
                height: fit-content;
                overflow: hidden;
                border-radius: 8px;

                img {
                    width: 100%;
                    height: 7.5rem;
                    object-fit: cover;
                }
            }

        }
    }
}




// ===========================
// TABLET VIEW
// ===========================
@include respond(medium) {}


// ===========================
// DESKTOP VIEW
// ===========================
@include respond(xx-large) {

    //=====details itembox code============

    // VERY IMPORTANT CODE LINKED TO THE ITEM-BOX.scss

    .detail-box {
        // display: flex;
        flex-direction: row !important;

        .item-description {
            padding: 0 0 0 8rem !important;
        }

    }

    .features-and-box {

        flex-direction: row;

        .features {
            width: 40rem;

            h2 {
                margin-top: initial;
            }
        }

        .in-box {
            width: 22rem;


            .p-group {
                margin-top: 32px;
            }
        }

        h2 {

            font-size: 32px;
        }
    }

    .img-grid {

        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;

        .item-1,
        .item-3 {
            width: 28rem;
            height: 18rem;
        }

        .item-2-desktop {
            display: initial;
            grid-row: span 2 / auto;
            width: 40rem;
        }

        .item-2-mobile {
            display: none;
        }
    }

    .suggestion-section {
        margin: 10rem auto;

        .suggestion-item-container {

            flex-direction: row;

            article {
                text-align: center;
                margin-bottom: 0;

                div {
                    width: 350px;
                    // height: 318px;

                    img {
                        height: 100%;
                    }
                }

            }
        }
    }

}