@import '../style/variables';
@import '../style/mixins';


nav {

    padding: 2rem 0 !important;

    button{
        width: fit-content;
    }

    li {
        display: inline;
        margin: 0 2rem;
        text-transform: uppercase;

        a {
            color: $main-white;
        }
    }
}

hr {
    background: grey;
}


// ===========================
// TABLET VIEW
// ===========================
@include respond(medium) {

    nav {}

}


// ===========================
// DESKTOP VIEW
// ===========================
@include respond(xx-large) {

    nav {}


}