@import "../style/variables";
@import "../style/mixins";

nav {
    padding: 2rem 0 !important;
    // color: red !important;

    .cart {
        position: relative;
        // border: 1px solid red;

        .circle {
            position: absolute;
            border-radius: 100%;
            top: -6px;
            left: 13px;
            width: 24px;
            height: 24px;
            // padding: 3.5px 0px 0px 10px;
            background: $accent-color;
            font-size: 12px;
            color: $main-white;

            div {
                position: absolute;
                top: 50%;
                left: 50%;
                // border: 1px solid blue;
                width: fit-content;
                height: fit-content;
                transform: translate(-50%, -50%);
            }
        }
    }

    .desktop-cart {
        display: none;
    }

    button {
        // border: 1px solid red !important;
        width: fit-content;

        &:hover {
            background: transparent;
        }
    }

    ul {
        // border: 1px solid red !important;
        text-transform: uppercase;
        align-items: center;

        li {
            margin: 1rem 0;

            a {
                color: $main-white;

                &:hover {
                    color: $accent-color;
                }

                &:active {
                    color: $accent-color;
                }
            }
        }
    }

    // li {
    //     display: inline;
    //     margin: 0 2rem;
    //

    //
    // }
}

hr {
    background: grey;
}

// ===========================
// TABLET VIEW
// ===========================
@include respond(medium) {
    nav {
    }
}

// ===========================
// DESKTOP VIEW
// ===========================
@include respond(xx-large) {
    nav {
        .mobile-cart {
            display: none;
        }

        .desktop-cart {
            display: block;
        }

        ul {
            display: inline;

            li {
                margin: 0 2rem;
            }
        }
    }
}
