@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import './style/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope',
    sans-serif;
}

.cc-container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}